:root {
	--container-width: 1318px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Inter', sans-serif;

	--page-bg: #fff;
	--header__nav: #F0F1F5;
	--text-color: #000000;
	--black: #18232E;
	--button__application: #D40200;
	--link-color: #0063C7;
	--gray: #5C5C5C;
	--gray--extra: #BFBFBF;


	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}