.banner__text {
	font-size: 40px;
	line-height: 48.76px;
	color: var(--page-bg);
}

.banner__figure {
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(180.29deg, rgba(0, 0, 0, 0) 0.25%, rgba(0, 0, 0, 0.4) 67.71%);
		display: block;
		position: absolute;
	}
}

.banner__box {
	display: grid;
	gap: 10px;
	position: absolute;
	top: 65px;
	left: 40px;
}

@media (max-width: 1224px) {
	.banner__text {
		font-size: 16px;
		line-height: 25px;
	}

	.banner__box {
		top: 10px;
	}
}