.form__sign {
	font-size: 14px;
	line-height: 19.6px;
	color: var(--gray--extra);
}

.form__button {
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 10px 0px #00000026;
	padding: 17px 25px 17px 25px;
	margin-top: 10px;
	border-radius: 8px;
}

.form__wrapper {
	box-shadow: 2px 2px 10px 0px #00000026;
	border-radius: 8px;
}

.form__box {
	display: flex;
	flex-direction: column;
	margin-top: 25px;

	&:first-child {
		margin-top: 0;
	}
}

.form__wrapper {
	.noUi-target {
		background-color: var(--button__application);
		height: 2px;
		border: none;
	}

	.noUi-handle {
		border-radius: 20px;
		background-color: var(--button__application);
		border: none;
		box-shadow: none;
		width: 15px !important;
		height: 15px !important;

		&::before {
			content: none;
		}

		&::after {
			content: none;
		}
	}

	.noUi-pips {
		background-color: var(--page-bg);
		height: auto;
		padding: 0 0 0 0;
		margin-top: 15px;
	}

	.noUi-marker {
		display: none;
	}

	.noUi-base {
		background-color: var(--gray--extra);
		height: 2px;
	}

	.noUi-connect {
		background-color: var(--button__application);
	}

	.noUi-value {
		font-size: 14px;
		line-height: 19.6px;
		color: var(--text-color);
	}
}

.form__label {
	font-size: 14px;
	line-height: 19.6px;
}

.form__strong {
	font-weight: 700;
	font-size: 20px;
	line-height: 24.38px;
}

.form__action {
	display: flex;
	padding: 40px;
}

.form__fieldset {
	width: 50%;
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.form__box--margin {
	margin-bottom: 65px;
}

.form__block--flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

.form__box--row {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.form__input {
	display: flex;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1490196078);
	padding: 17px 25px 17px 25px;
	margin-top: 10px;
	border-radius: 8px;

	&::placeholder {
		font-size: 14px;
		line-height: 19.6px;
		color: var(--gray--extra);
	}
}

.form__box--checkbox {
	flex-direction: row;
	margin-top: 18px;

	.form__label {
		font-size: 12px;
		line-height: 16.8px;
		font-family: var(--font-accent);
	}

	.form__link {
		color: var(--text-color);
		text-decoration: underline;
	}
}

.form__checkbox {
	border: 1px solid var(--gray--extra);
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.form__send {
	background-color: var(--gray--extra);
	padding: 13.5px 0 15.5px 0;
	border-radius: 8px;
}

.form__caption {
	font-size: 18px;
	line-height: 25.2px;
	color: var(--page-bg);
}

.form__container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.form__icon {
	width: 24px;
	height: 24px;
}

@media (max-width: 767px) {
	.form__strong {
		font-size: 14px;
		line-height: 18px;
	}

	.form__action {
		padding: 20px;
	}

	.form__input {
		width: 100%;
	}

	.form__wrapper {
		.noUi-pips {
			display: flex;
			gap: 20px;
			overflow-y: hidden;
			overflow-x: scroll;
			padding: 0 15px 30px 15px;
		}

		.noUi-value {
			position: static;
		}
	}

	.form__box--margin {
		margin-bottom: 101px;
	}
}

@media (max-width: 1224px) {
	.form__action {
		flex-direction: column;
	}

	.form__fieldset {
		width: 100%;
		margin-right: 0;
	}

	.form__wrapper {
		.noUi-pips {
			justify-content: space-between;
		}
	}
}