.heading__h1 {
	font-size: 60px;
	line-height: 73.14px;
	color: var(--page-bg);
	margin-bottom: 10px;
}

.heading__h2 {
	font-size: 80px;
	line-height: 97.52px;
	color: var(--page-bg);
}

.heading__h3 {
	font-size: 40px;
	line-height: 48.76px;
	color: var(--black);
}

@media (max-width: 1224px) {
	.heading__h1 {
		font-size: 25px;
		line-height: 30px;
	}

	.heading__h2 {
		font-size: 20px;
		line-height: 25px;
	}

	.heading__h3 {
		font-size: 20px;
		line-height: 25px;
	}
}