.modal {
	position: relative;
	width: 1096px;
	border-radius: 8px !important;

	.f-button.is-close-btn {
		background-color: var(--page-bg);
		top: 35px !important;
		right: 37px !important;

		svg {
			color: var(--text-color);
			width: 30px;
			height: 30px;
		}

		&:hover {
			background-color: transparent;
			top: 20px;
		}
	}

	&::before {
		content: '';
		border-bottom: 1px solid var(--gray--extra);
		width: 100%;
		position: absolute;
		left: 0;
		top: 130px;
	}
}

.modal__list {
	display: flex;
	padding-bottom: 10px;
}

.modal__button {
	border-radius: 8px;
	padding: 10px 20px 10px 20px;
	border: 1px solid var(--gray--extra);
}

.modal__button-active {
	background-color: var(--header__nav);
}

.modal__item {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.modal__box {
	margin-bottom: 20px;
}

.modal__sign {
	font-family: var(--font-accent);
	font-size: 14px;
	line-height: 19.6px;
}

.modal__brand {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 19.6px;
	width: 187px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid var(--gray--extra);
	cursor: pointer;
}

.modal__model {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 19.6px;
	width: 187px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid var(--gray--extra);
	cursor: pointer;
}

.modal__data {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	margin-top: 20px;
	max-width: 1016px;
}

.modal__brand-quantity {
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
	line-height: 12.19px;
	color: var(--blue);
	width: 100%;
}

.modal__brand-name {
	font-size: 14px;
	line-height: 19.6px;
}

.modal__brand-container {
	display: flex;
	align-items: center;
}

.modal__brand-name {
	margin-left: 5px;
}

.modal__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 24.38px;
	color: var(--text-color);
}

.modal__generation {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	margin-top: 20px;
}

.modal__generation-list {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 19.6px;
	width: 187px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid var(--gray--extra);
	cursor: pointer;

	.modal__brand-quantity {
		display: block;
		text-align: end;
	}
}

.modal__selection-list {
	margin-top: 20px;
}

@media (max-width: 991px) {
	.modal__sign {
		white-space: nowrap;
	}

	.modal__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.modal__item {
		margin-right: 0;
	}

	.modal__button {
		width: 100%;
	}

	.modal.fancybox__content {
		padding: 10px;
		overflow: hidden;

		&::before {
			content: none;
		}

		.f-button.is-close-btn {
			top: 30px;
		}
	}

	.modal__data {
		grid-template-columns: repeat(2, 1fr);
	}

	.modal__brand {
		width: 100%;
	}

	.modal__model {
		width: 100%;
	}

	.modal__generation-list {
		width: 100%;
	}

	.modal__generation {
		grid-template-columns: 1fr;
	}
}