.partners {
	margin-top: 80px;
}

.partners__figure {
	box-shadow: 2px 2px 10px 0px #00000026;
	background-color: var(--page-bg);
}

.partners__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}

.partners__heading {
	padding-top: 80px;
}

.partners__logo {
	padding-top: 40px;
}

@media (max-width: 1224px) {
	.partners__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767px) {
	.partners__list {
		grid-template-columns: 1fr;
	}

	.partners {
		margin-top: 20px;
	}

	.partners__heading {
		padding-top: 20px;
	}
}